<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/69487f09-c34c-4fac-97c2-38c3712108cb/resourcegroups/producer-fiap-fase4_group/providers/Microsoft.Web/sites/ChallengeProducerMessageApi</ResourceId>
    <ResourceGroup>producer-fiap-fase4_group</ResourceGroup>
    <ApiResourceId>/subscriptions/69487f09-c34c-4fac-97c2-38c3712108cb/resourceGroups/producer-fiap-fase4_group/providers/Microsoft.ApiManagement/service/ChallengeProducerMessageapi/apis/ChallengeProducerMessage</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://challengeproducermessageapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>f82fb110-a2b3-4dc6-9f7f-619c15b4c8e4</ProjectGuid>
    <MSDeployServiceURL>challengeproducermessageapi.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ChallengeProducerMessageApi</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$ChallengeProducerMessageApi</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>